name: Foobar builds

maintainers: [aa, bb, dreamer]

on: [push, pull_request]

#  schedule:
#    - cron: '*/15 * * * *'

jobs:

  test:
    name: Test ${{ matrix.conf.name }} matrix 
    runs-on: ubuntu-18.04
    # prevent duplicate jobs when maintainer is pushing to PR:
    # if: ! ( ${{ github.event_name }} == 'pull_request' && contains([aa, bb, dreamer], ${{ github.actor }}) )
    if: !( github.event_name == 'pull_request' || contains(maintainers, github.actor) )
    strategy:
      matrix:
        conf:
          - name: Foo
            value: foo
          - name: Bar
            value: bar
    steps:
      - run: |
          echo event    ${{ github.event_name }}
          echo ref      ${{ github.ref }}
          echo actor    ${{ github.actor }}

