name: Foobar builds

on: [push, pull_request]

if: contains('aa,bb,dreamer', github.actor) == 'false'

#  schedule:
#    - cron: '*/15 * * * *'

jobs:

  test:
    name: Test ${{ matrix.conf.name }} matrix 
    runs-on: ubuntu-18.04
    # prevent duplicate jobs when maintainer is pushing to PR:
    # if: ! ( ${{ github.event_name }} == 'pull_request' && contains([aa, bb, dreamer], ${{ github.actor }}) )
    # if: contains(maintainers.*, github.actor)
    # if: contains('aa,bb,dreamer', github.actor) == 'false'
    strategy:
      matrix:
        conf:
          - name: Foo
            value: foo
    steps:
      - run: |
          echo repo    "${{ toJson(github.event) }}"
          echo event    ${{ github.event_name }}
          echo ref      ${{ github.ref }}
          echo actor    ${{ github.actor }}

